name: Mixpanel Flutter SDK CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-main-code:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.16.0"
      - run: flutter pub get
      - run: flutter test
      - run: flutter analyze --no-pub --no-current-package lib

  test-android-integration:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.16.0"
      - name: Test Android integration
        working-directory: example
        run: flutter build apk

  test-ios-integration:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.16.0"
      - name: Clean
        working-directory: example
        run: flutter clean
      - name: Flutter pub get
        working-directory: example
        run: flutter pub get
      - name: CocoaPods update
        working-directory: example/ios
        run: pod repo update
      - name: Test iOS integration
        working-directory: example
        run: flutter build ios --debug --simulator --no-codesign
